.wrapper {
    width: auto;
    height: auto;
}

#circle {

    width: 15px;
    height: 15px;
    border-radius: 100px;
    border: 1px solid #125ed8;
    position: relative;
    top: 5px;

}

p {
    color: rgb(82, 40, 130);
    text-indent: 30px;
    }
card{
    margin: 0.4em;
}
    
.vertical-line{
    width: 1px;
    height: 50px;
    background: rgb(82, 40, 130);;
    padding: 0px;
    border-radius: 100px;
    position: relative;
    left:8px;
    top:5px;
}



.cardstyle{
    padding-top: 50px; 
    padding-left: 100px;
    padding-bottom: 50px;
}
#topcircle{
    
   width: 15px;
   height:15px;
  background-color: #080d94e0;
   border-radius: 10px;
   position: relative;
   padding-right: 3px;
     
}
#combine1,#combine2{
    position: relative;
    background :#990e0ece;
    display: inline;
    left:50px;
}
.topvertical-line{
    width: 1px;
    height: 84px;
    background: rgba(83, 118, 200, 0.533);;
    padding: 0px;
    border-radius: 100px;
    position: relative;
    left:8px;
    top:7px;
}
#topcircle2{
    
    width: 15px;
    height:15px;
    
    background-color: rgb(55, 80, 132);
    border-radius: 10px;
    position: relative;
    padding-right: 3px;
      
 }
 .toprightcard{
    padding-top:40px;
    padding-bottom:40px;
    padding-left:70px;
 }