<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            
                    <div class="large-8 large-centered">
                        <div class="wrapper">
                            <div class="row">
                                <div class="col col-12 col-sm-12 col-lg-6 col-md-6 col-xl-8 col-xxl-8">
                                    <div class="card border-secondary">
                                        <div class="card-body" >
                                            <div id="topcircle2" >
                                            </div>
                                            <div class="row " >
                                                <div class="col col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 ">
                                                    <div  class="topvertical-line">
                                                      
                                                    </div>
                                                </div>
                                                <div class="col col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 col-xxl-11">
                                                    <p><i>From:Trivandrum</i></p><hr>
                                                    <p><i>To:Maranalloor</i></p>
                                                </div> 
                                                
                                            </div>
                                            <div id="topcircle" >
                                            </div>    
                                        
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                                    <div class="card border-secondary mb-4">
                                        <div class="card-body toprightcard">
                                            <p>Distance : 20km</p>
                                            
                                            
                                            <p>Travel Time : 1hrs</p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>        
                                    
                                    
                            <div class="row">                 
                                    <div class="g-3 col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                            <div class="card cardstyle">
                                            <div class="card-body">
                                                    <div id="circle" >
                                                    </div>
                                                    <div class="row">
                                                        <div class="col col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 ">
                                                            <div  class="vertical-line">
                                                              
                                                            </div>
                                                        </div>
                                                        <div class="col col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 col-xxl-11">
                                                            
                                                            <p>Trivandrum</p>
                                                        </div> 
                                                        
                                                    </div>
                                                    
                                                    <div id="circle" >
                                                    </div>
                                                    <div class="row">
                                                        <div class="col col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 ">
                                                            <div  class="vertical-line">
                                                              
                                                            </div>
                                                        </div>
                                                        <div class="col col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 col-xxl-11">
                                                            <p class="linediv">Trivandrum</p>
                                                        </div> 
                                                        
                                                    </div>
                                                    <div id="circle" >
                                                   </div>
                                                    <div class="row">
                                                        <div class="col col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 ">
                                                            <div  class="vertical-line">
                                                              
                                                            </div>
                                                        </div>
                                                        <div class="col col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 col-xxl-11">
                                                            <p class="linediv">Trivandrum</p>
                                                        </div> 
                                                        
                                                    </div>
                                                    <div id="circle" >
                                                    </div>
                                                    <div class="row">
                                                        <div class="col col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 ">
                                                            <div  class="vertical-line">
                                                              
                                                            </div>
                                                        </div>
                                                        <div class="col col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 col-xxl-11">
                                                            <p class="linediv">Trivandrum</p>
                                                        </div> 
                                                        
                                                    </div>
                                                    <div id="circle" >
                                                    </div>
                                                    <div class="row">
                                                        <div class="col col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 ">
                                                            <div  class="vertical-line">
                                                              
                                                            </div>
                                                        </div>
                                                        <div class="col col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 col-xxl-11">
                                                            <p class="linediv">Trivandrum</p>
                                                        </div> 
                                                        
                                                    </div>
                                                    <div id="circle" >
                                                    </div>
                                                    <div class="row">
                                                        <div class="col col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 ">
                                                            <div  class="vertical-line">
                                                              
                                                            </div>
                                                        </div>
                                                        <div class="col col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 col-xxl-11">
                                                            <p class="linediv">Trivandrum</p>
                                                        </div> 
                                                        
                                                    </div>
                                                    <div id="circle" >
                                                    </div>
                                                    <div class="row">
                                                        <div class="col col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 ">
                                                            <div  class="vertical-line">
                                                              
                                                            </div>
                                                        </div>
                                                        <div class="col col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 col-xxl-11">
                                                            <p class="linediv">Trivandrum</p>
                                                        </div> 
                                                        
                                                    </div>
                                                    <div id="circle" >
                                                    </div>
                                            </div>
                                        </div>
                                        
                                        </div>
                                    </div>
                                
                            </div>
                            
            
                        </div>
                    </div>
                
            
            
        </div>
    </div>
</div>

